
.home .our-labs{
    background-color: var(--io-red);
    width: 100vw;
    position: relative;
    left: calc(0px - var(--margin));
    padding: 0 0 4em;
}

.home .labs{
    width: 100%;
    box-sizing: border-box;
    padding: 0 8vw;
    color: white;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home .our-labs .homepage-lab{
    width: 17.5rem;
    min-height: 18rem;
    margin: auto;
    text-align: center;
    padding-bottom: 4em;
}

.home .our-labs p{
    font-weight: 500;
}


.home .our-labs .inline-bullet{
    background-color: white;
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 auto 2em;
}



.home .horizontal-connector{
    background-color: rgb(250, 200, 70);
    position: relative;
    top: 56px;
    left: calc(8px - var(--connector-margin));
    height: 8px;
    width: calc(var(--connector-margin) + 4em);
}

.home .spacing{
    background-color: white;
    width:8em;
    height:48px;
    z-index: -1;
}

@media only screen and (max-width: 650px) {
    .main-connector, .horizontal-connector, .inline-bullet, .connector, .lab-connector{
        display: none !important; 
    }
   
    .home .main-style {
        width: 100%;
        margin: 0 -6vw;
        text-align: center;
    }

    .home .our-labs {
        margin-top: 3rem;
        box-sizing: border-box;
        padding: 2rem;
        margin: 3rem -6vw 0;
        left: 0;
    }

    .home .labs{
        width: 100%;
        padding: 0
    }

    .home .homepage-lab{
        width: 100% !important;
    }

    .home .our-labs .homepage-lab{
        min-height: 0rem;
    }
}