body{
    margin:0px;
    font-family: "Poppins", sans-serif;
}

main{
    width: 64vw;
    margin: auto;
    padding: 3em;
}



.homepage-section{
    padding: 3em 0;

}

.closed .dropdown-content{
    display:none;
}


.open .dropdown-content{
    display:static;
}


/* navbar --------------------*/

.home-link{

    height:60px;
}

.home-link-img{
    height: 60px;
    object-fit: contain;
    margin: 0;
}

.dropdown-button{
    display:inline-block;
    height: 40px;
    width: 40px;  
    border: none;
    padding:0;
    background-color: aqua;
}

.closed .dropdown-button {
  background-image: url(./assets/rightarrow.svg);  
}

.open .dropdown-button {
    background-image: url(./assets/downarrow.svg);  
  }

.homepage-section h3{
    display: inline-block;
    box-sizing: border-box;
    height:40px;
    padding: 8px;
    margin: 0;
    vertical-align:top;
}

.open .default-content{
    display:none;
}

.slide{
    background-color: aqua;
}

/* slideshow -------------------- */

h1{
    background-color: blueviolet;
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;    
    -moz-animation-name: fade;
    -moz-animation-duration: 1.5s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}