@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* styling for repeated elemetns across the site and all components*/


:root {
    --margin: 25vw;
    --connector-margin:8rem;
    --io-red: rgb(255, 115, 115);
    --io-yellow: rgb(250, 200, 70);
    --io-blue: rgb(20, 190, 250);
    --standard-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)
}


body{
    margin:0px;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.our-labs-page img{
    max-width: 80%;
    margin: 1rem 10%;
}

main, .main-style{
    width: calc(100% - 2 * var(--margin));
    margin: auto;
    padding: 0 2em 2em;
}

.main-style{
    padding: 0 2em;
}

.divider{
    padding: 2em;
}

p{
    margin: 0;
}

h2{
    font-size: 1.8em;
    margin: 0;
}

h3{
    margin: 0.5rem 0;
}

.section-heading{
    font-size: 3em;
    margin: 0.25em 0;
}

.bullet{
    position: relative;
    left: calc(0vw - var(--connector-margin));
    top: 48px;
    height: 24px;
    width: 24px;
    background-color: var(--io-yellow);
    border-radius: 50%;
}

.main-connector{
    width: 8px;
    position: fixed;
    left: calc(var(--margin) - var(--connector-margin) + 8px);
    top: 0;
    z-index: -1000;
    background: var(--io-yellow);
    height: 100vh;
}

.connector{
    background-color: white;
    display: block;
    position: relative;
    width: 8px;
    height: 48px;
    margin: -8px auto;
}

/* HeaderBanner.js ----------------------------*/

.banner {
    position: relative;
    width: 100vw;
    max-width: none;
    height: 280px;
    margin: 0 0 3rem;
    overflow: hidden;
    object-fit: cover;
    box-shadow: var(--standard-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner h1 {
    font-size: 6rem;
    font-weight: bold;
    color: white;
    padding-left: var(--margin);
    white-space: nowrap;
    position: absolute;
}

/* Button.js ----------------------------*/

/*
.button-container{
    width: 100%;
    margin: 0.5rem 0;
    display: inline-flex;
    justify-content: center;
}

.button{
    display:inline-block;
    box-sizing: border-box;
    border-radius: 50vh;
    border-width: 3px;
    border-style: solid;
    padding: 0.5em 1em;
    background-color: rgba(0, 0, 0, 0);
    border-color: black;
    color: black;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 600;
}
*/

/* Navbar.js -------------------------------------*/
/*
.navbar{
    position: fixed;
    background-color: white;
    box-shadow: var(--standard-shadow);
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 100;
}

.nav-button{
    display: none;
}

.spacer{
    position: relative;
    height: 3.5em;
    background-color: white;
}

.home-link{
    height:3.5em;
}

.home-link-img{
    height:100%;
}


.nav-items{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding: 0.5em;
}

.nav-item{
    margin: 0 1em;
}

.nav-link{
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-weight: 500;
}

.nav-link:hover{
    color: black;
}
*/
/* Footer.js ----------------------------*/
/*
footer{
    position:relative;
    background-color: black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4em;
}

footer.contacts{
    width:25vw;
}

footer .contact-links{
    display: inline-flex;
    width: 25vw;
    justify-content: left;
}

footer .contact-links a{
    display: inline;
    padding: 0.5em 1em; 
}
*/
/* Dropdown.js ----------------------------*/


/*reponsiveness for mobile screens ----------------------------*/


@media only screen and (max-width: 650px) {
    main {
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 6vw;
    }

    .mobile-hidden {
        display: none;
    }

    .bullet {
        display: none;
    }
}


@media only screen and (max-width: 970px) {
    .banner h1 {
        position: relative;
        width: 100vw;
        padding-left: 0;
        text-align: center;
        font-size: 4rem;
    }
}