@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
    margin:0px;
    font-family: "Poppins", sans-serif;
}

main{
    width: 64vw;
    margin: auto;
    padding: 2em;
}

.divider{
    padding: 2em;
}

/*for the navbar -------------------------------------*/

.navbar{
    box-shadow: 0 0 10px 0 rgb(180, 180, 180);
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.home-link{
    height:60px;
}

.home-link-img{
    height:60px;
}

.nav-items{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    margin:0;
    padding: 1em;
}

.nav-item{
    margin: 0 1em;
}

.nav-link{
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-weight: 500;
}

.nav-link:hover{
    color: black;
}

/*for the dropdown arrows ----------------------------*/

.dropdown-arrow{
    display:inline-block;
    height: 40px;
    width: 40px;  
    border: none;
    padding:0;
    background-color: white;
}

.dropdown-arrow.closed{
  background-image: url(./assets/rightarrow.svg);  
}

.dropdown-arrow.open{
    background-image: url(./assets/downarrow.svg);  
}


  /*slideshow -------------------------*/

.slideshow-container{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
    width: 100vw;
    object-fit: contain;
    height:80vh;
    overflow: hidden;
    position: relative;
}

.slides{
    display:grid;
    position: relative;
    vertical-align: middle;
    min-width: auto;

}

.slide{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 50%;
}

.current-slide, .exit-slide{
    grid-column: 1;
    grid-row: 1;
}


.current-slide{
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;    
    -moz-animation-name: fade;
    -moz-animation-duration: 1.5s;
}

@keyframes fade{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fade{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fade{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.slideshow-controls{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: calc(80vh - 80px);
    z-index: 1;
}

.slideshow-toggle{
    background-color: rgb(160, 160, 160);
    box-shadow: 0px 0px 15px black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin:20px;
    display: inline-block;
    cursor: pointer;
}


.slideshow-toggle.active{
    background-color: white;
}