@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --margin: 25vw;
    --connector-margin:8rem
}

body{
    margin:0px;
    font-family: "Poppins", sans-serif;
}

main, .main-style{
    width: calc(100vw - 2 * var(--margin));
    margin: auto;
    padding: 2em 2em 0;
}

.main-style{
    padding: 0 2em;
}

.divider{
    padding: 2em;
}

.page-title{
    font-size: 4em;
}

p{
    margin: 0;
}

h2{
    font-size: 1.8em;
    margin: 0;
}

.blue-text{
    color: rgb(20, 190, 250);
}

.section-heading{
    font-size: 3em;
    margin: 0.25em 0;
}

.bullet{
    position: relative;
    left: calc(0vw - var(--connector-margin));
    top: 32px;
    height: 24px;
    width: 24px;
    background-color: rgb(250, 200, 70);
    border-radius: 50%;
}

.main-connector{
    width: 8px;
    position: fixed;
    left: calc(var(--margin) - var(--connector-margin) + 8px);
    top: 0;
    z-index: -1000;
    background: rgb(250, 200, 70);
    height: 100vh;
}

.connector{
    background-color: white;
    display: block;
    position: relative;
    width: 8px;
    height: 48px;
    margin: -8px auto;
}
/*for the navbar -------------------------------------*/

.navbar{
    position: fixed;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 100vw;
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 100;
}

.spacer{
    height: 3.5em;
}

.home-link{
    height:3.5em;
}

.home-link-img{
    height:100%;
}

.nav-items{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding: 1em;
}

.nav-item{
    margin: 0 1em;
}

.nav-link{
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-weight: 500;
}

.nav-link:hover{
    color: black;
}

/*for the footer ----------------------------*/

footer{
    position:relative;
    background-color: black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4em;
}

footer.contacts{
    width:25vw;
}

footer .contact-links{
    display: inline-flex;
    width: 25vw;
    justify-content: left;
}

footer .contact-links a{
    display: inline;
    padding: 0.5em 1em; 
}

/*for the dropdown arrows ----------------------------*/

.dropdown-arrow{
    display:inline-block;
    height: 40px;
    width: 40px;  
    border: none;
    padding:0;
    background-color: white;
}

.dropdown-arrow.closed{
  background-image: url(./assets/rightarrow.svg);  
}

.dropdown-arrow.open{
    background-image: url(./assets/downarrow.svg);  
}

.button-container{
    width: 100vw;
    display:inline-flex;
    justify-content: center;
}

.button{
    display:inline-block;
    box-sizing: border-box;
    border-radius: 50vh;
    border-width: 3px;
    border-style: solid;
    padding: 0.5em 1em;
    background-color: rgba(0, 0, 0, 0);
    border-color: black;
    color: black;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 600;
}
